<%- include("../public/head.ejs") %>
  <div class="link fl"><a href="/admin">后台首页</a></div>
<%- include("../public/head-nav.ejs") %>
  <div class="main">
    <!--右侧内容-->
    <div class="cont">
      <div class="title">后台管理</div>


      <div class="pad"  >

        <form action="/admin/user/updata?id=<%= data[0].id%>" method="post" id="form">
          <div class="form-group">
            <label for="name">用户名</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= data[0].name%>">
          </div>
          <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" placeholder="密码" name="password" value="<%= data[0].password%>" >
          </div>
          <div class="form-group">
            <label for="password1">重复密码</label>
            <input type="password" id="password1" class="form-control" value="<%= data[0].password%>" >
          </div>
          <button type="submit" class="btn btn-default">修改</button>
        </form>
        <span id="text"></span>

        </table>



      </div>

    </div>
  </div>
<%- include("../public/foot.ejs") %>
<script>

    $("#form").submit(function(e){

        if( !$("#name").val()){
            e.preventDefault();
            $("#text").html("用户名不能为空")
            return
        }

        if( $("#password").val()!== $("#password1").val()){
            e.preventDefault();
            $("#text").html("密码不一致")
            return
        }



    })

</script>